/* Shared Layout Page */

* {
    font-family: 'Titillium Web';
}

h1 {
    color: #191ba9;
    text-align: center;
}

.colorHeading {
    color: #191ba9;
}

#carousel-example-generic {
    margin-top: 150px;
}


.carousel-caption {
    color: rgb(255, 255, 255);
    background: rgba(150, 150, 150, 0.40);
    border-radius: 25px;
    font-weight: bold;
}

.nav-link {
    padding-right: 2px;
    color: #191ba9;
}

#logOff {
    padding-right: 2px;
    color: #191ba9;
}

#logInForm .error {
    color: red;
}

#signUpForm .error {
    color: red;
}


/* Start a cause page */

#userCause {
    display: none;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#createPetition {
    margin-top: 40px;
}

/*#createImage {
    margin-top: 80px;
}*/

#createPetition .error {
    color: red;
}

#createPetitionForm {
    margin-top: 10px;
}

.signatures {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}

.labelDecor {
    color: #191ba9;
}

/*Featured Cause Page */

.startYourOwnCause {
    text-align: center;
}

.causeContainer {
    margin-bottom: 20px;
}

.causeImage > img {
    max-width: 100%;
    height: auto;
    padding: 2px;
}

.causeText {
    text-align: center;
}

.causeActionSection {
    margin: 1px;
    text-align: center;
}

.signatureCounter {
    margin: 1px;
    border-color: grey;
}

.socialIcons {
    margin: 1px;
    text-align: center;
}

#twitterShare {
    margin-top: 5px;
}

/* Social Links Styling */

.fa {
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}




/* Categories */

.catHead {
    color: #191ba9;
    margin-top: 20px;
}

.causeContainer {
    margin-top: 20px;
}




