
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categories</h1>
<hr />

<div class="container">
    <h2 class="catHead"> Environment </h2>
    <!-- Environment cause row 1 -->
    <div class="row">
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src="~/Content/images/climate2.jpg" class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/climate3.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/climate.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <h2 class="catHead"> Humanitarian </h2>
    <!-- Humanitarian cause row 1 -->
    <div class="row">
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src="~/Content/images/humanitarian2.jpg" class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/humanitarian1.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/humanitarian3.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <h2 class="catHead"> Politics </h2>
    <!-- Politics cause row 1 -->
    <div class="row">
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src="~/Content/images/politics1.jpg" class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/politics2.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/politics3.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h2 class="catHead"> Technology </h2>
    <!-- Technology cause row 1 -->
    <div class="row">
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src="~/Content/images/technology1.jpg" class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/robot.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
        <div class="col-lg">
            <div class="causeContainer">
                <div class="causeImage">
                    <img src='~/Content/images/technology3.jpg' class="img-fluid" />
                </div>
                <div class="causeText">
                    <h1 class="causeTitle"> This is a cause </h1>
                    <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                </div>
                <div class="signatureCounter">
                    <p class="signatures"> Signatures: </p>
                </div>
            </div>
        </div>
    </div>
</div>