
@{
    ViewData["Title"] = "Featured Causes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1> Featured Causes </h1>
    <hr />

    

    <!--
    <div class="container">
        <!-- Featured cause row 1 
        <div class="row">
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src="~/Content/images/hands.jpg" class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/robot.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/climate.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Featured causes row 2 
        <div class="row">
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src="~/Content/images/fight.jpg" class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/internet.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/kidsnotguns.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Featured cause row 3 
        <div class="row">
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/net.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/group.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="causeContainer">
                    <div class="causeImage">
                        <img src='~/Content/images/protest.jpg' class="img-fluid" />
                    </div>
                    <div class="causeText">
                        <h1 class="causeTitle"> This is a cause </h1>
                        <p class="causeDescription"> This is the cause description. This is the cause description. This is the cause description.</p>
                    </div>
                    <div class="signatureCounter">
                        <p class="signatures"> Signatures: </p>
                        <p class="signatures"> Sign Count: </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
